
    <div class="modal fade show bd-example-modal-lg modal_window aboutGameModal" id="about_game_modal" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="aboutGamelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content stars">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Описание</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Цель игры</h3>
                    <p>Необходимо уничтожить все корабли противника. За уничтожение обычного вражеского корабля начисляется 10 очков, 
                        за уничтожение штурмовика - 50 очков.</p>
                    <h3>Управление</h3>
                    <p>
                        <span>
                            Управление кораблем осуществляется кнопками "ВЛЕВО" и "ВПРАВО". Cтрельба - "ПРОБЕЛ", пуск ракеты - "CTRL".
                        </span>. Для паузы необходимо нажать ESC.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="begin_play_bnt" class="btn btn-primary">Начать</button>
                </div>
            </div>
        </div>
    </div>