<div class="modal-sm modal fade show modal_window" id="winModal" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="winModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content stars">
            <div class="modal-body">
                <p>{{ username }} поздравляем, вы выиграли!</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="exit_game_btn" class="btn btn-primary" onclick = "window.location = 'game.php'">Играть заново</button>
                <button type="button" id="stay_in_game_bnt" class="btn btn-primary" onclick = "window.location = 'personal_accaunt.php'">Выход</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-sm modal fade show modal_window" id="looseModal" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="looseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content stars">
            <div class="modal-body">
                <p>{{ username }}, вы проиграли!</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="exit_game_btn" class="btn btn-primary" onclick = "window.location = 'game.php'">Играть заново</button>
                <button type="button" id="stay_in_game_bnt" class="btn btn-primary" onclick = "window.location = 'personal_accaunt.php'">Выход</button>
            </div>
        </div>
    </div>
</div>