{% extends "layout.twig" %}

{% block title %}Galaxian{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="container">
                <div class="row">
                    <span class="game_info_field_name col-sm-9 username">Игрок: </span>
                </div>
                <div class="row">
                    <div class="col game_info">{{ username }}</div>
                </div>
                <div class="row">
                    <span class="game_info_field_name col-sm-9">Очки: </span>
                </div>
                <div class="row">
                    <span  class="game_info col-sm-3" id="scores"></span>
                </div>
                <div class="row">
                    <span class="game_info_field_name col-sm-9">Жизни: </span>
                </div>
                <div class="row">
                    <span class="game_info col-sm-3" id="lifes"></span>
                </div>
                <div class="row">
                    <span class="game_info_field_name col-sm-9">Здоровье: </span>
                </div>
                <div class="row">
                    <span class="game_info col-sm-3" id="health"></span>
                </div>
                <div class="row">
                    <span class="game_info_field_name col-sm-9">Ракеты: </span>
                </div>
                <div class="row">
                    <span class="game_info col-sm-3" id="rockets"></span>
                </div> 
            </div>  
        </div>

        <div class="col-sm-10 col-md-8 battle_arena">
            <canvas id="canvas" width="500" height="640"></canvas>
        </div> 
    </div>
 
    {% include "stop_game.html.twig" %} 
    {% include "about_game.html.twig" %}
    {% include "end_game.html.twig" %}         
   
</div>
<script src="js/game.js" type="module"></script>

{% endblock %}