{% extends "layout.twig" %}

{% block title %}Galaxian{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="username"> </div>
            <span class="game_info">Очки: </span>
            <span id="scores"></span>
            <span class="game_info">Жизни: </span>
            <span id="lifes"></span>
            <span class="game_info">Здоровье: </span>
            <span id="health"></span>
            <span class="game_info">Ракеты: </span>
            <span id="rockets"></span>
        </div>

        <div class="col battle_arena">
            <canvas id="canvas" width="500" height="640"></canvas>
        </div>
        
    </div>

    
    <div class="modal-sm modal fade show modal_window" id="exitModal" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content stars">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Покинуть игру?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitGameBnt" class="btn btn-primary" onclick = "window.location = 'personal_accaunt.php'">Да</button>
                    <button type="button" id="stayInGameBnt" class="btn btn-primary">Нет</button>
                </div>
            </div>
        </div>
    </div>

    {% include "about_game.html.twig" %}        
   
</div>
<script src="js/game.js" type="module"></script>

{% endblock %}