
<!DOCTYPE html>
<html lang="ru">
    {% include "head.html.twig" %}
    <body>
        <div class="container container-fluid">
        
            {% block header %} 
            {% endblock %}
            
            {% block content %} 
            {% endblock %}

        </div>
        {% block script %}         
        {% endblock %}      
    </body>
</html>