{% extends "layout.twig" %}

{% block title %}Galaxian{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="personal_accaunt_header">Здравствуйте, Alex</h1>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-6 col-md-4">
            <ul class="nav flex-sm-column">
                <li><button type="button" class="btn btn-outline-primary btn-block btn_menu" onclick="window.location = 'index.html'">
                    Новая игра</button></li>
                <li><button type="button" class="btn btn-outline-primary btn-block btn_menu" onclick="window.location = 'records.php'">
                    Таблица рекордов</button></li>
                <li><button type="button" class="btn btn-outline-primary btn-block btn_menu" onclick="window.location = 'index.php'">
                    Выход</button></li>
            </ul>
        </div>
        <div class="col-sm"></div>
    </div>

{% endblock %}