{% extends "layout.twig" %}

{% block title %}Galaxian{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="personal_accaunt_header">Здравствуйте, {{ username }}</h1>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-6 col-md-4">
            <ul class="nav flex-sm-column">
                <li><button type="button" class="btn btn-outline-primary btn-block btn_menu" onclick="window.location = 'game.php'">
                    Новая игра</button></li>
                <li><button type="button" class="btn btn-outline-primary btn-block btn_menu" onclick="window.location = 'records.php'">
                    Таблица рекордов</button></li>
                <li><button type="button" class="btn btn-outline-primary btn-block btn_menu" onclick="window.location = 'profile.php'">
                    Профиль пользователя</button></li>
                <li><button type="button" id="exit_btn" class="btn btn-outline-primary btn-block btn_menu">
                    Выход</button></li>
            </ul>
        </div>
        <div class="col-sm"></div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/exit.js"></script>
{% endblock %}