{% extends "layout.twig" %}

{% block title %}Galaxian{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="personal_accaunt_header">Профиль пользователя <span id="user_name"> {{ username }} </span> </h1>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-5">
            <ul class="nav flex-sm-column">
                <form  action="/inc/edit_profile.php">
                    <div class="form-group">
                        <label class="sr-only" for="username">Login</label>
                        <input type="text" class="form-control btn_menu" id="username" name="username" required="" value={{ username }} readonly>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password"  name="password" class="form-control btn_menu" placeholder="Password" required="">
                        <label for="reenter_password"" class="sr-only">Password</label>
                        <input type="password" id="reenter_password" name="confirmed_password" class="form-control btn_menu" placeholder="Reenter Password" required="">
                    </div>
                    <div class="float-right">
                        <button id="change_user_info_btn" type="button" class="btn btn-outline-primary">Сохранить изменения</button>
                        <button id="exit_user_profile_btn" type="button" class="btn btn-primary">Выход</button> 
                    </div>
                    
                </form>   
            </ul>
        </div>
        <div class="col-sm"></div>
    </div>

    {% include "change_info.html.twig" %} 
    {% include "success_registration.html.twig" %} 


{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/edit_profile.js"></script>
    {% include "script.html.twig" %}
    
{% endblock %}