<div class="modal fade modal_window" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="regModalLabel">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form  action="registration.php">
                <div class="form-group">
                    <label class="sr-only" for="username">Login</label>
                    <input type="text" class="form-control btn_menu" id="username" name="username" placeholder="Login" required="">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password"  name="password" class="form-control btn_menu" placeholder="Password" required="">
                    <label for="reEnterPassword"" class="sr-only">Password</label>
                    <input type="password" id="reEnterPassword" name="confirmed_password" class="form-control btn_menu" placeholder="Reenter Password" required="">
                </div>
                <div id="error_registration" class="error_registration"></div> 
                <button id="registr_user_btn" type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
            </div>
        </div>
    </div>
</div>