<div class="modal-sm modal fade show modal_window" id="exitModal" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content stars">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Пауза</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Покинуть игру {{username}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="exit_game_btn" class="btn btn-primary" onclick = "window.location = 
                {% if username == '' %}
                    'index.php'">Да</button>
                {% else %}
                    'personal_accaunt.php'">Да</button>
                {% endif %}
                <button type="button" id="stay_in_game_bnt" class="btn btn-outline-primary">Нет</button>
            </div>
        </div>
    </div>
</div>